[Desktop Entry]
Exec=translate-screen.sh
Name=translate-screen.sh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
